<div class="row">
    <div class="col-md-6">
        <h2>Rules</h2>
        <textarea class="form-control" rows="30" ng-model="feature.text"/>
    </div>
    <div class="col-md-6">
        <h2>Analysis
            <button class="btn btn-info btn-group-xs" ng-click="analyse(feature.text)">perform</button>
        </h2>
        <ul class="nav nav-tabs">
            <li class="{{analyseTab == 'checkList' ? 'active' : ''}}">
                <a href="" ng-click="analyseTab = 'checkList'">Check list</a>
            </li>
            <li class="{{analyseTab == 'meta' ? 'active' : ''}}">
                <a href="" ng-click="analyseTab = 'meta'">Metadata</a>
            </li>
        </ul>
        <div class="panel" ng-if="analyseTab == 'checkList'">
            <h4></h4>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="groupStatsData" chart-labels="groupStatsLabels" chart-options="options">
                    </canvas>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <!--<h3 ng-if="statistic.errors.length > 0">Errors</h3>-->
            <div ng-repeat="error in statistic.errors">
                <div ng-if="error.name == 'entriesInNullGroup'" class="bs-callout bs-callout-danger">
                    <h4 ng-click="showEntriesInNullGroup = !showEntriesInNullGroup" class="pointer">
                        Some entries have not been distributed
                        <button type="button" class="btn btn-danger btn-group-xs">show</button>
                    </h4>
                    <table class="table" ng-if="showEntriesInNullGroup">
                        <thead>
                        <tr>
                            <!--<th>#</th>-->
                            <!--<th>group</th>-->
                            <th>count</th>
                            <th>entries</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="groupStat in data.groupStats" ng-if="groupStat.name == null">
                            <!--<th scope="row">{{$index}}</th>-->
                            <!--<td>{{groupStat.name || "&lt;null&gt;"}}</td>-->
                            <td>{{groupStat.count}}</td>
                            <td>
                                <div ng-repeat="fact in groupStat.facts">#{{$index}} {{fact}}</div>
                            </td>
                            <td>
                                <div ng-repeat="fact in groupStat.facts">#{{$index}} <fact value="fact"/></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="error.name == 'totalDistributionsGtVariants'" class="bs-callout bs-callout-danger">
                    <h4 ng-click="showTotalDistributionsGtVariants = !showTotalDistributionsGtVariants" class="pointer">
                        Some entries have been distributed to more than one group
                        <button type="button" class="btn btn-danger btn-group-xs">show</button>
                    </h4>
                    <table class="table" ng-if="showTotalDistributionsGtVariants">
                        <tr ng-repeat="distribution in data.distributions" ng-if="distribution.groups && distribution.groups.length > 1">
                            <th scope="row">{{$index}}</th>
                            <td>
                                <div ng-repeat="fact in distribution.facts">{{fact}}</div>
                            </td>
                            <td>
                                <div ng-repeat="group in distribution.groups">{{group}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<h3>warnings</h3>-->
            <div>
                <div ng-if="false" class="bs-callout bs-callout-warning">
                    <h4>warning</h4>
                </div>
            </div>
        </div>
        <div ng-if="analyseTab == 'meta'">
            <h3>factDictionary</h3>
            <p>{{data.factDictionary}}</p>
            <h3>distributions</h3>
            <p>size: {{data.distributions.length}}</p>
            <h3>groups distributions</h3>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>group</th>
                        <th>count</th>
                        <th>variants</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="groupStat in data.groupStats">
                        <th scope="row">{{$index}}</th>
                        <td>{{groupStat.name || "&lt;null&gt;"}}</td>
                        <td>{{groupStat.count}}</td>
                        <td>
                            <div ng-repeat="fact in groupStat.facts">{{fact}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>distributions</h3>
            <p>{{data.distributions}}</p>
        </div>
    </div>
</div>