<div class="row">
    <div class="col-md-6">
        <h2>Rules</h2>
        <textarea class="form-control" rows="30" ng-model="feature.text"/>
    </div>
    <div class="col-md-6">
        <h2>Analysis
            <button ng-click="analyse(feature.text)">perform</button>
        </h2>
        <h3 ng-if="statistic.errors.length > 0">Errors</h3>
        <div ng-repeat="error in statistic.errors">
            <div ng-if="error.name == 'entriesInNullGroup'" class="bs-callout bs-callout-danger">
                <h4>There are entries in &lt;null&gt; group</h4>
            </div>
            <div ng-if="error.name == 'totalDistributionsGtVariants'" class="bs-callout bs-callout-danger">
                <h4>Some entries goes to more than one group</h4>
            </div>
        </div>
        <h3>warnings</h3>
        <div>
            <div ng-if="false" class="bs-callout bs-callout-warning">
                <h4>warning</h4>
            </div>
        </div>
        <h3>factDictionary</h3>
        <p>{{data.factDictionary}}</p>
        <h3>statistics</h3>
        <p>variants: {{data.variants}}</p>
        <h3>groups distributions</h3>
        <div>
            <table class="table">
                <!--<caption>groups distributions</caption>-->
                <thead>
                <tr>
                    <th>#</th>
                    <th>group</th>
                    <th>count</th>
                    <th>variants</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="groupStat in data.groupStats">
                    <th scope="row">{{$index}}</th>
                    <td>{{groupStat.name || "&lt;null&gt;"}}</td>
                    <td>{{groupStat.count}}</td>
                    <td>
                        <div ng-repeat="fact in groupStat.facts">{{fact}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3>distributions</h3>
        <p>{{data.distributions}}</p>
    </div>
</div>